<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Harmoney</span>

  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/expenses">Expenses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="visualization">Visualization</a>
    </li>
  </ul>
  
  <ul class="navbar-nav ml-auto">
    <!-- TODO: dynamically show either button based on when user logs in or out -->
    <div *ngIf="loginStatus; then logout else login"></div>
    <ng-template #login>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Log-in</a>
      </li>
    </ng-template>
    <ng-template #logout>
      <li class="nav-item">
        <!-- TODO: logout of user when clicking on this link-->
        <a class="nav-link" routerLink="login">Log-out</a>
      </li>
    </ng-template>
  </ul>
</nav>