<div *ngIf="loginService.isLoggedIn; then userGreeting else defaultGreeting"></div>
<ng-template #userGreeting>
  <p>
    Hello, {{ loginService.currentUser.name }}!
  </p>
</ng-template>
<ng-template #defaultGreeting>
  <p>
    Welcome to Harmoney!
  </p>
</ng-template>



<img src = "assets/images/harmoney logo.png" style="width:437px; height:126px;">

<div *ngIf="loginService.isLoggedIn; then userResponse; else defaultResponse"></div>
<ng-template #userResponse>
    <p>
      Use the tabs above to view your finances.
    </p>
  </ng-template>
  <ng-template #defaultResponse>
    <p></p>
    <p>
      Please <a routerLink="../login">Login to your account</a> to get started.
    </p>
  </ng-template>