<form>
  <div class="form-group">
    <label>Name</label>
    <input #name type="text" class="form-control" name="name" id="name" placeholder="Enter name" ngModel required/>
  </div>
  <div class="form-group">
    <label>Username</label>
    <input #username type="text" class="form-control" name="username" id="username" placeholder="Enter username" ngModel required/>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input #password type="password" class="form-control" name="password" id="password" placeholder="Enter password" ngModel required/>
    <small id="safetyNotice" class="form-text text-muted">This site is for demonstration only and does not have high security. Do NOT use important passwords here!</small>
  </div>
  <div class="form-group">
    <label>Re-enter password</label>
    <input #re_password type="password" class="form-control" name="re_password" id="re_password" placeholder="Re-enter password" ngModel required/>
  </div>
  <button type="button" class="btn btn-primary" (click)="onSubmit(name.value, username.value, password.value, re_password.value)">Register</button>
  <p>{{ errorMessage }}</p>
</form>